## Predicting Health Professional Shortage Areas

HPSA, short for "Health Professional Shortage Area", is a federal government term for a specific region or location that is experiencing a shortage of healthcare professionals. Every so often, HPSA Scores are developed by the National Health Service Corps in determining priority of assignment of clinicians to certain areas. The scores range from 0 to 26 where the higher the score, the greater the priority. In this project, I will train a Machine Learning model to predict Primary Care* HPSA scores based on various location metrics (county income, unemployment rate, etc) using features taken from other government websites such as the US Bureau of Labor Statistics.

### Step 1: ETL

This data is taken from the https://data.hrsa.gov/ website in individual XLSX files by state. Unfortunately, each state's data is separately stored, meaning we will have to extract and load each state iteratively. Let's take a peek at a single state for now loaded in a variable peek_data, that encompasses the data for Alabama.

In [1]:
import pandas as pd
import numpy as np
import re 
np.set_printoptions(threshold=np.inf) #allows for greater print capabilities for troubleshooting
peek_data=pd.read_excel("utility/data/HPSAdata/Hpsa_Find_Export.xlsx",index_col=None,header=3)
#header is 3 since that is the row the column titles are stored. 

peek_data.head().style

Note above that there are various rows with extraneous information. However, the Component GEOID, a unique identifier for each county in the US also known as FIPS, is not extraneous and will need to be extracted. This is important since the GEOID is the identifier we will use to merge new features (eg. unemployment rates by county) into the dataset using SQL later. 

Closer review of the table shows that some FIPS codes not provided in lieu of ZIP codes, which are useless to us. Luckily, these entries also give us the county name alongside the ZIP code. Therefore, before we code a method to clean our data, we will create a dictionary to find FIPS codes from county names when they are not already provided. To do this, I have an excel worksheet copying the Wikipedia FIPS Table. Unfortunately, the FIPS codes are missing their leading zeroes and the county names all have the word 'county' after them, so we will quickly clean the csv here.

In [2]:
#Formatting our data to enter into a dictionary
rawmap=pd.read_csv("utility/data/FIPSDict.csv", dtype={'FIPS': str})

for i in range(len(rawmap)):
    #adds leading zeros until FIPS code is 5 digits
    rawmap.iloc[i,0] = rawmap.iloc[i,0].zfill(5) 
    
    #Isolates first word of County Name and removes punctuation and capitalization
    rawmap.iloc[i,1] = re.sub(r'[^\w\s]', '', rawmap.iloc[i,1].split()[0]).casefold()
    
#zip and load to dictionary    
FIPSDict = dict(zip(rawmap.iloc[:,1],rawmap.iloc[:,0]))

Now that we have a dictionary of county names to FIPS codes, we can code in our general cleaning method.

In [3]:
def clean(data): # drops unnecessary rows and columns and generates new GEOID column
    """
    Clean function takes in HPSA data in the format found on hrsa.gov and extracts the FIPS codes from the table. The
    method drops rows if they do not have a numeric target variable (HPSA score) and drops pre-defined features from
    the table. It also creates a new column of FIPS codes. 
    
    :param p1: Data to be cleaned.
    :return: Data undergone processes as documented above.
    """ 
    
    GeoIDs=[]
    
    for i in range(len(data['County Name'])): #locates all geolocation codes and truncates them at 5 digits
        
        string=str(data['County Name'][i]).casefold() #gets table title to determine if geolocation code was provided.
        
        if (('geoid' in string)): #Geolocation code was properly provided and added to new column
            GeoIDs.append(data['County Name'][i+1][:5])
            continue
            
        if (('zip' in string)): #ZIP code was provided. Geolocation code was found from county name. 
            
            CountyName = re.sub(r'[^\w\s]', '',data['HPSA FTE Short'][i+1].split()[0]).casefold()# first word w/o punctuation
            dictvalue=FIPSDict.get(CountyName)
            
            if (dictvalue is not None):
                GeoIDs.append(dictvalue)
                continue
            else:
                raise Exception("Key not found in dictionary for " + data['County Name'][i-1])
                
            
            
    data=data.loc[pd.to_numeric(data.iloc[:,7],errors='coerce').notna()]
    #Converts HPSA scores to numeric values and drops all rows where the score is not numeric
    #Dropped rows include titles and blank rows

    data=data.reset_index(drop=True)
    #renumbering our rows after dropping unnecessary ones

    data=data.iloc[:,[2,3,4,5,7,9]]
    #drops the ID, status, and two date categories, as these are logistical in nature.
    #drops discipline since all pulled data is from Primary Care only
    #Drops HPSA FTE Short since this only exists for regions experiencing dire shortages (And is therefore biased)
    
    data['FIPS'] = GeoIDs 
    #Adds the geolocation codes (aka FIPS codes) as a column to the table
    
    return data

In [4]:
peek_data=clean(peek_data)
peek_data.head().style

As seen in the above, our data has been cleaned and a FIPS column has been added! Now that we've created and tested a method to appropriately clean and structure our datasets, we will proceed to wrangle all 50 state datasets together. I will also replace all the spaces in the column title with underscores and lowercase to make columns more consistent across this notebook and my SQL database.

In [5]:
import os 

directory = 'utility/data/HPSAdata'
data = pd.DataFrame()
counter=0 

for filename in os.listdir(directory):
    
    path = os.path.join(directory, filename) #generate file path
    
    if os.path.isfile(path):
        state_data=pd.read_excel(path,index_col=None,header=3) #import
        state_data=clean(state_data)
        data=pd.concat([data,state_data]) #add to existing data
        
        counter+=1
        
data.columns = data.columns.str.replace(r"\s+", '_') #changes column name spaces to underscores and lowercase
data.columns=data.columns.str.casefold()

print (str(counter) + ' datasets were successfully concatenated with a final shape of ' + str(data.shape))

50 datasets were successfully concatenated with a final shape of (6804, 7)

C:\Users\vsiu8\miniconda3\envs\cse217a\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.

Now that we have a pandas dataframe with all  the necessary base information, we will proceed to upload it to SQL (for storage and for later joins). Interested in how I set up the table? Check out my SQL Create Table command in the text file included in the repository. For the most part, however, most queries will be executed from this notebook.

In [6]:
import psycopg2 as pg2
from sqlalchemy import create_engine

#upload dataframe to SQL
engine = create_engine('postgresql://postgres:sql@localhost/HPSA')
data.to_sql('hpsadata', con=engine, if_exists='replace', index=False) #naming the SQL Table HPSAdata

#prepare Python query tool
conn=pg2.connect(database='HPSA', user='postgres',password='sql')

Now let's make sure that our dataframe was transferred properly and run a query from our notebook here. We're going to get a count of the number of rows in our SQL table and validate that against the shape of our dataframe.

In [12]:
cur = conn.cursor()
cur.execute("SELECT COUNT(*) FROM hpsadata") #validate shape by comparing to previous cell
print("SQL database size is " + str(cur.fetchall()) + " rows.")
print("Pandas Dataframe shape is " + str(data.shape))

SQL database size is [(6804,)] rows.
Pandas Dataframe shape is (6804, 7)

Now that our data has been cleaned and exported to a SQL database, we can now begin our EDA process using SQL Queries!